<!-- Content -->

    <!-- Location header -->
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">
            <a class="text-muted fw-light" href={% url "house-apartments" pk=request.user.profile type=type %}>
                Apartment Control
            </a> /
            <a class="text-muted fw-light" href={% url "house-details" pk=request.user.profile house_id=house.id type=type %}> 
                No. {{ house.house_number }}, {{ house.address.title }}
            </a> / 
            <a class="text-muted fw-light" href={% url "view-apartments" type=type pk=request.user.profile house_id=house.id %}?active_menu=apartments-management&active_sub_menu=apartment-profiles>
            Apartment Profiles
            </a> / 
        </span>
            {{ apartment }}
    </h4>
    <!-- End Location header -->

    <!-- Apartment Details -->
    <div class="nav-align-top mb-4">
        <!-- Tabs -->
        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
            <!--Houses Tabs Button -->
            <li class="nav-item">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" 
                data-bs-target="#navs-pills-justified-apartment-details" aria-controls="navs-pills-justified-houses-details" aria-selected="true">
                    <i class="tf-icons bi bi-house-fill"></i> Apartment Details
                    <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{houses.count}}</span>
                </button>
            </li>

            <!-- Add a House Tabs Button -->
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" 
                data-bs-target="#navs-pills-justified-update-apartment" aria-controls="navs-pills-justified-update-house" aria-selected="false">
                    <i class="tf-icons bi bi-cloud-plus-fill"></i> Update Apartment Details
                </button>
            </li>
        </ul>
        <!-- End Tabs -->

        <!-- Details -->
        <div class="tab-content">
            <!-- Apartment Details Tab -->
            <div class="tab-pane fade show active" id="navs-pills-justified-apartment-details" role="tabpanel">
                {% if apartment.images.exists %}
                <div class="d-flex">
                    <div id="carouselExample-cf" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" style="max-width: 70%;">
                        <ol class="carousel-indicators">
                        {% for image in apartment.images.all %}
                            <li data-bs-target="#carouselExample-cf" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                        {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                        {% for image in apartment.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100" style="width: 500px; height: 621px; border-radius: 7px;" alt="...">
                            </div>
                        {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="javascript:void(0);" role="button" data-bs-slide="prev">
                        <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="javascript:void(0);" role="button" data-bs-slide="next">
                        <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 ms-3">
                        <div class="card shadow-none bg-transparent border border-primary">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Apartment Number</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.apartment_number }}</strong></p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-primary mt-3">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Floor Number</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.floor_number }}</strong></p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-primary mt-3">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Number of Rooms</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.number_of_rooms }}</strong></p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-primary mt-3">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Size in SQFT</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.size_in_sqft }}</strong></p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-primary mt-3">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Balcony</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.balcony }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="d-flex">
                    <div id="carouselExample-cf" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" style="max-width: 70%;">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src={% static "images/house_photos/NoImage.jpg" %} class="d-block w-100" style="width: 500px; height: 621px; border-radius: 7px;" alt="...">
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 ms-3">
                        <div class="card shadow-none bg-transparent border border-primary">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Apartment Number</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.apartment_number }}</strong></p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-primary mt-3">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Floor Number</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.floor_number }}</strong></p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-primary mt-3">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Number of Rooms</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.number_of_rooms }}</strong></p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-primary mt-3">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Size in sqft</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.size_in_sqft }}</strong></p>
                            </div>
                        </div>
                        <div class="card shadow-none bg-transparent border border-primary mt-3">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Balcony</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.balcony }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row mt-3">
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Parking Space</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.parking_space }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">is furnished</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.is_furnished }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Number of Bathrooms</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.number_of_bathrooms }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Number of Bedrooms</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.number_of_bedrooms }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Kitchen Type</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.kitchen_type }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Flooring Type</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.flooring_type }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Heating System</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.heating_system }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Air Conditioning</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.air_conditioning }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Water Supply</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.water_supply }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Electricity Supply</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.electricity_supply }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Internet Ready</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.internet_ready }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Cable TV Ready</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.cable_tv_ready }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Rent Price</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.rent_price }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Sale Price</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.sale_price }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Security Deposit</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.security_deposit }}</strong></p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Maintenance Fee</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.maintenance_fee }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Is Occupied</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.is_occupied }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Last Renovation Year</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.last_renovation_year }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Condition</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.condition }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-none bg-transparent border border-primary h-100">
                            <div class="card-body">
                                <h5 class="card-title"><span class="badge bg-primary">Notes</span></h5>
                                <p class="card-text ms-2"><strong>{{ apartment.notes }}</strong></p>
                            </div>
                        </div>
                    </div>  
                </div>                  
            </div>
            <!-- End Apartment Details Tab -->

            <!-- Add an Apartment Tabs Details -->
            <div class="tab-pane fade" id="navs-pills-justified-update-apartment" role="tabpanel">
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                            <div class="mb-3 col-md-6">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.label == "Apartment Number" %}
                                <div id="floatingInputHelp" class="form-text">
                                    This field is compulsory
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Upload Images</label>
                            <input type="file" name='images' multiple class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary me-2">Update Apartment</button>
                    </div>
                </form>
            </div>
            <!-- End Add an Apartment Tabs Details -->
        </div>
        <!-- End Details -->
    </div>
    <!-- End Apartment Details -->

    <div class="card">
        <h5 class="card-header">Delete Apartment</h5>
        <div class="card-body">
            <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                    <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete this Apartment?</h6>
                    <p class="mb-0">Once you delete this apartment, there is no going back. Please be certain.</p>
                </div>
            </div>
            <form id="formAccountDeactivation" action='{% url "delete-apartment" pk=apartment.id %}'>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation"/>
                    <label class="form-check-label" for="accountActivation">
                        I confirm this apartment delection
                    </label>
                </div>
                <button type="submit" class="btn btn-danger deactivate-account" id="deactivateButton" disabled>Delete Apartment</button>
            </form>
        </div>
    </div>

    <script>
        const checkbox = document.getElementById('accountActivation');
        const button = document.getElementById('deactivateButton');
    
        checkbox.addEventListener('change', function() {
            button.disabled = !this.checked;
        });
    </script>